/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Styling Starts Here*/

/*A little margin on the left side as per the reference url*/
body{
	margin-left: 10px;
}

/*setting the width of elements to 100%
Needed as out blocks are empty and we need them to be displayed*/
article, header, section, p, h2,h3,h1,img
{
	width: 100%;
}
/*Positioning all the containers and applying height and width so that empty
  elements are displayed*/
.main-navigation
{
	float: left;
	width: 190px;
	height: 1300px;
}

.main-navigation header{
	height: 77px;
	background-color: rgb(60,60,60);
}

.site-content-group
{
	width: 100%;
	height: 250px;
	background-color: rgb(180,180,180);
}

.site-content-group header{
	height: 40px;
	background-color: rgb(75,75,75);
}

.content-wrapper
{
	float: left;
	width: 700px;
	height: 10200px;
	box-sizing: border-box;
}

.content-wrapper header
{
	height: 77px;
	background-color: rgb(200,200,200);
}

.single-article
{
	height: 1000px;
}

.single-article h3
{
	height: 50px;
	width: 100%;
	background-color: rgb(0,0,0);
}

.author-details
{
	height: 25px;
	background-color: rgb(90,90,90);
}

.article-details
{
	height: 50px;
	background-color: rgb(110,110,110);
}

.short-desc
{
	height: 250px;
	background-color: rgb(15,15,15);
}

.single-article-img
{
	height: 250px;
	background-color: rgb(130,130,130);
}

.article-text
{
	height: 475px;
	background-color: rgb(150,150,150);
}

aside
{
	float: left;
	width: 440px;
	height: 1700px;
}

.search-box
{
	height: 100px;
	background-color: rgb(170,170,170);
}

.advertisement, .promotion:first-of-type
{
	height: 200px;
	background-color: rgb(45,45,45);
}

.promotion
{
	background-color: rgb(150,150,150);
}

.newsletter-subscription
{
	height: 200px;
	background-color: rgb(30,30,30);
}

.book-promo
{
	height: 800px;
	background-color: rgb(150,150,150);
}

.jobs{
	height: 400px;
	background-color: rgb(155,155,155);
}
.single-book, .single-job
{
	height: 200px;
}

footer
{
	clear: both;
	width: 1330px;
	height: 200px;
	background-color: rgb(210,210,210);
}
