/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Styling Starts Here*/

/*A little margin on the left side as per the reference url*/
body{
	margin-left: 10px;
	background-color: rgb(0,0,0);
}

/*setting the width of elements to 100%
Needed as out blocks are empty and we need them to be displayed*/
article, header, section, p, h1,img
{
	width: 100%;
}
/*Positioning all the containers and applying height and width so that empty
  elements are displayed*/
.main-navigation
{
	float: left;
	width: 190px;
	height: 1300px;
	background-color: rgb(10,10,10);  /*temp background*/
}

.main-navigation header{
	height: 77px;
	background-color: rgb(50,50,50); /*temp background*/
}

.site-content-group
{
	width: 100%;
	height: 250px;
	background-color: rgb(60,60,60); /*temp background*/
}

.site-content-group header{
	height: 40px;
	background-color: rgb(70,70,70);/*temporary background color*/
}

.content-wrapper
{
	float: left;
	width: 700px;
	height: 10180px;
	background-color: rgb(20,20,20);/*temporary background color*/
}

.content-wrapper header
{
	height: 77px;
	background-color: rgb(80,80,80);/*temporary background color*/
}

.single-article
{
	background-color: rgb(90,90,90);/*temporary background color*/
	height: 1000px;
}

.single-article h1
{
	height: 50px;
	width: 100%;
	background-color: (100,100,100);/*temporary background color*/
}

.author-details
{
	height: 25px;
	background-color: rgb(110,110,110);/*temporary background color*/
}

.article-details
{
	height: 50px;
	background-color: rgb(120,120,120);/*temporary background color*/
}

.short-desc
{
	height: 250px;
	background-color: rgb(130,130,130);/*temporary background color*/
}

.single-article-img
{
	height: 250px;
	background-color: rgb(140,140,140);/*temporary background color*/
}

.article-text
{
	height: 475px;
	background-color: rgb(150,150,150);/*temporary background color*/
}

aside
{
	float: left;
	width: 440px;
	height: 1700px;
	background-color: rgb(30,30,30);/*temporary background color*/
}

.search-box
{
	height: 100px;
	background-color: rgb(160,160,160);/*temporary background color*/
}

.advertisement, .promotion
{
	height: 200px;
	background-color: rgb(170,170,170);/*temporary background color*/
}

.newsletter-subscription
{
	height: 200px;
	background-color: rgb(180,180,180);/*temporary background color*/
}

.book-promo, .jobs
{
	height: 600px;
	background-color: rgb(190,190,190);/*temporary background color*/
}

.single-book, .single-job
{
	background-color: rgb(200,200,200); /*temporary background color*/
	height: 200px;
}
footer
{
	clear: both;
	width: 1330px;
	height: 200px;
	background-color: rgb(40,40,40); /*temporary background color*/
}
